<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0"><i class="fas fa-user-friends"></i> Parental/Spousal Release Form (Optional)</h5>
  </div>
  <div class="card-body">
    <p>
      I authorize the Sitka Tribe of Alaska's Cultural Resources, Education, and Employment Department to release information regarding my scholarship application (including but not limited to enrollment information and academic progress) to the person(s) listed.
    </p>
    <dl>
      <dt>Student Signature</dt>
      <dd><%= application.parental_release_signature.presence || "Not provided" %></dd>
      <dt>Date</dt>
      <dd><%= application.parental_release_date&.strftime("%B %d, %Y") || "Not provided" %></dd>
    </dl>
  </div>
</div>
