<div class="container my-5">
  <!-- Header and Instructions -->
  <div class="text-center mb-4">
    <%= image_tag("STA_Seal_RGB.png", alt: "Sitka Tribe Official Seal", class: "form-seal") %>
  </div>
  <h1 class="text-center mb-4" style="color:#0babbe;">
    Sitka Tribe of Alaska Higher Education Scholarship Application
  </h1>
  <div class="alert alert-gray" style="background-color: #f8f9fa; border-color: #dee2e6; color: #495057;">
    <strong>Application Deadlines:</strong>
    <ul>
      <li><strong style="color:#0babbe;">April 1</strong> (First Time Applicants)</li>
      <li><strong style="color:#0babbe;">May 1</strong> (Renewing Applicants)</li>
      <li><strong style="color:#0babbe;">October 1</strong> (Partial Academic Year Applicants)</li>
    </ul>
    <p>
      SUBMIT COMPLETED APPLICATIONS: On website
      <br>
      Sitka Tribe of Alaska<br>
      204 Siginaka Way, Suite 300<br>
      Sitka, AK 99835<br>
      E-mail for any questions:
      <a href="mailto:scholarship.applicant@sitkatribe-nsn.gov" style="color:#0babbe;">
        <strong>scholarship.applicant@sitkatribe-nsn.gov</strong>
      </a>
      <br>
    </p>
  </div>
</div>
