<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:#05292e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/dashboard">Sitka Tribe of Alaska</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="color:#05292e;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Landing page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/application_table">AppTable</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Applications', admin_scholarship_applications_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
