<%# This renders a button that toggles display of uploaded files (could use Bootstrap collapse or custom JS) %>
<button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#uploadedFiles-<%= application.id %>">
  Show Uploaded Files
</button>
