<!-- Section: Release of Information -->
<h2 class="mt-5">Release of Information</h2>
<p>
  I give my permission to the Sitka Tribe of Alaska Cultural Resources, Education, and Employment Department to verify any academic 
  or financial information needed to determine my eligibility for funding. I hereby give this permission for as long as required or until revoked in writing by me to:<br><br>
  <strong>
    Sitka Tribe of Alaska<br>
    Cultural Resources, Education and Employment<br>
    Department<br>
    204 Siginaka Way<br>
    Sitka, Alaska 99835
  </strong>
</p>
<div class="row g-3">
  <div class="col-md-6">
    <%= f.label :release_signature, "Student Signature" %>
    <%= f.text_field :release_signature, class: "form-control", placeholder: "Type your name as signature" %>
  </div>
  <div class="col-md-6">
    <%= f.label :release_date, "Date" %>
    <%= f.date_field :release_date, class: "form-control" %>
  </div>
</div>
