<!-- Section: Photo Release Form -->
<h2 class="mt-5">Photo Release Form</h2>
<p>
  I authorize the Sitka Tribe of Alaska, Cultural Resources, Education, and Employment Department to use the information I provide to be shared in an Education Edition Newsletter published by the Sitka Tribe of Alaska and for recruitment purposes.
</p>
<div class="row g-3">
  <div class="col-md-6">
    <%= f.label :photo_release_signature, "Student Signature" %>
    <%= f.text_field :photo_release_signature, class: "form-control", placeholder: "Type your name as signature" %>
  </div>
  <div class="col-md-6">
    <%= f.label :photo_release_date, "Date" %>
    <%= f.date_field :photo_release_date, class: "form-control" %>
  </div>
</div>
